*.gcda
*.gcno
*.o
*.swp
.DS_Store
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
example/bufferevent-echo
example/bufferevent-get
example/bufferevent-get-ssl
example/event-echo
html
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
test-suite.log
test/main
test/main.log
test/main.trs
